<div class="login-container">
  <div class="logo-container">
    <img src="assets/temp-logo.svg" alt="Logo" class="logo">
  </div>
  
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" 
             class="form-control" 
             formControlName="username"
             placeholder="Username">
    </div>
    
    <div class="form-group">
      <input type="password" 
             class="form-control" 
             formControlName="password"
             placeholder="Password">
    </div>
    
    <div class="checkbox-wrapper">
      <input type="checkbox" 
             id="remember" 
             formControlName="rememberMe">
      <label for="remember">Remember me</label>
    </div>
    
    <button type="submit" 
            class="btn btn-primary btn-block">
      Sign in
    </button>
    
    <div class="forgot-password-container">
      <a href="#" class="forgot-password">Forgot password?</a>
    </div>
  </form>
</div>